:root {
    --font1: "Kanit", sans-serif;
    --font2: "Archivo", sans-serif;
    --font3:  "Anton", sans-serif;
    --font4:  "Rubik Mono One", monospace;
    --prim: #2e5984;
    --sec: #FFD700;
}

*{box-sizing: border-box;}

/* tags */

body {
    margin: 0;
    padding: 0;
    background-color: var(--prim)
}

/* classes */

.name {
    font-family: var(--font1);
    margin: 5px;
}

.header-link {
    color: black;
}

.header-link:hover {
    color: blue;
}

.top-nav {
    color: black;
    font-size: calc(12px + (14 - 10) * ((100vw - 300px) / (1700 - 300)));
}


.headshot {
    width: 290px;
}

.headshot2 {
    width: 85%
}

.figure-text {
    font-size: large;
}

.aboutheading {
    font-family: var(--font2);
    padding-top: 15px;
}

.Pjheading {
    font-family: var(--font3);
    font-style: italic;
}

.biotext {
    font-size: 1.3rem;
}

.mini-text {
    font-size: 1.3rem;
}

.project-text {
    font-size: calc(16px + (14 - 10) * ((100vw - 300px) / (1600 - 300)));
}




.contactlogo {
    font-family: var(--font4);
}


.footer {
    padding-top: 20px ;
    padding-bottom: 8px;
    background-color: var(--sec)
}



.PhoneNumber {
    color: black;
}

.PhoneNumber:hover {
    color: blue;
}

.Email {
    color: black;
}

.Email:hover {
    color: blue;
}


.icons {
    color:black;
    font-size: 2.1rem;
}

.bi:hover{
    color: blue;
}

.footer-text{
    color: black;
}

.footer-text:hover {
    color: blue;
}

.BT {
    color: black;
}

.BT:hover {
    color: blue;
}

.social-item {
    font-family: var(--font4);
}

.colophon {
    color: black;
}

/* ids */

#headerSection1 {
    background-color: var(--sec)
}

#projectSection {
    padding-bottom: 40px;
}










@media (min-width: 767px) {
    #headerSection2 {
        height: 100vh;
    }
}

