:root {
    --font1: "Kanit", sans-serif;
    --font2: "Archivo", sans-serif;
    --font3:  "Anton", sans-serif;
    --font4:  "Rubik Mono One", monospace;
    --tert: #2e5984;
    --bgcolor: #FFD700;
}

*{box-sizing: border-box;}

/* tags */

body {
    margin: 0;
    padding: 0;
    background-color: var(--tert)
}

/* classes */

.heading {
    font-family: var(--font1);
    margin: 5px;
}

.top-nav {
    color: black;
    font-size: calc(12px + (14 - 10) * ((100vw - 300px) / (1600 - 300)));
}

.h2heading {
    font-family: var(--font2);
    font-style: italic;
}

.Pjheading {
    font-family: var(--font3);
    font-style:italic
}

.mini-text {
    font-size: 1.3rem;
}

.biotext {
    font-size: 1.3rem;
}



.contactlogo {
    font-family: var(--font4);
}

.footer {
    padding-top: 20px ;
    padding-bottom: 8px;
    background-color: var(--bgcolor)
}


.header-link:hover {
    color: white;
}

.header-link {
    color: black;
}

.PhoneNumber {
    color: black;
}

.PhoneNumber:hover {
    color: white;
}

.Email {
    color: black;
}

.Email:hover {
    color: white;
}


.bi {
    color:black;
    font-size: 2rem;
}

.bi:hover{
    color: white;
}

.footer-text{
    color: black;
}

.footer-text:hover {
    color: white;
}

.BT {
    color: black;
}

.BT:hover {
    color: white;
}

/* ids */

#headerSection1 {
    background-color: #FFD700
}

#projectSection {
    padding-bottom: 25px;
}







@media (max-width: 767px) {
    #headerSection2 {
        height: 100vh;
    }
}



